doctype html
html(lang='en')
    head
        title Business Link
        link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Cantata+One&subset=latin,latin-ext')
        link(rel='stylesheet',href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet',href='css/style.css')
    body(ng-app='BusinessApp')
        header
            .grid
                div.menu
                    ul
                        li: a(href='/#/help') Help
                        li: a(href='/#/login') Log in
                        li: a(href='/#/signup') Sign up
                a.logo(href='/#/home')
                .clearfix
        #content(ng-view)
        footer
            .grid
                .block
                    p BusinessLink &copy; 2014
                    ul.inline
                        li: a English
                        li: a Español
                .block
                .block
                    ul
                        li: a About us
                        li: a Contact us
                        li: a Terms & Conditions
                        li: a Privacy
                .block
                    ul
                        li: a Facebook
                        li: a Twitter
                        li: a Google+
                .clearfix
            .grid
                .block
                    h2 Host Features
                    ul
                        li: a Multi-language site
                        li: a User management
                        li: a Event management
                        li: a Business Categories
                .block
                    h2 Event Features
                    ul
                        li: a Schedule management
                        li: a Location management
                        li: a Meeting generation
                        li: a Event stats
                        li: a Email integration
                        li: a Chat online
                .block
                    h2 Buyer Features
                    ul
                        li: a Edit profile
                        li: a Supplier following
                        li: a Matching partners
                .block
                    h2 Supplier Features
                    ul
                        li: a Edit profile
                        li: a Brochure publication
                        li: a Buyer following
                        li: a Matching partners
                .clearfix
        script(src='/jquery/dist/jquery.min.js')
        script(src='/angular/angular.js')
        script(src='/angular-route/angular-route.js')
        script(src='/angular-resource/angular-resource.js')
        script(src='/angular-animate/angular-animate.js')
        script(src='/ngstorage/ngStorage.js')
        script(src='/js/app.js')
        script(src='/js/factories.js')
        script(src='/js/controllers/home.js')
        script(src='/js/controllers/login.js')
        script(src='/js/controllers/signup.js')
        script(src='/js/controllers/events.js')
        script(src='http://localhost:35729/livereload.js')

