section.steps
    article.grid
        .step
            div.fa.fa-user
            h2 Register
            p Whether you are a buyer or seller, takes the first step and register right now.
        .step
            div.fa.fa-calendar
            h2 Pick a Event
            p Find events near your region and register your participation in them.
        .step
            div.fa.fa-list-ul
            h2 Join a Meeting
            p Find partners and ensures your presence in joint meetings.
        .step
            div.fa.fa-link
            h2 Follow Updates
            p Check business opportunities, and follow up on any news.
        .clearfix
section.events.grid
    h1 Events around your location
    .menu
        p If you do not find an event that meets your needs, then why not create one?
        button Create an event
    .list
        form
            p
                span.fa.fa-search
                input(type='text')
        article
            .event
                .banner
                    img(src='http://lorempixel.com/460/150/business/1')
                .text
                    h2 Phasellus at libero id mauris auctor blandit.
                    .date December 22, 2014.
                    .location La Paz, Bolivia.
                    .social-media
                        ul
                            li: a.fa.fa-facebook
                            li: a.fa.fa-twitter
                            li: a.fa.fa-google-plus
                            li: a.fa.fa-pinterest
                        .clearfix
                .clearfix
            .event
                .banner
                    img(src='http://lorempixel.com/460/150/business/2')
                .text
                    h2 Fusce id odio suscipit, ultricies tellus ut, congue elit.
                    .date December 27, 2014.
                    .location Santa Cruz, Bolivia.
                    .social-media
                        ul
                            li: a.fa.fa-facebook
                            li: a.fa.fa-twitter
                            li: a.fa.fa-google-plus
                            li: a.fa.fa-pinterest
                        .clearfix
                .clearfix
            .event
                .banner
                    img(src='http://lorempixel.com/460/150/business/3')
                .text
                    h2 Proin elementum turpis id velit varius scelerisque.
                    .date December 27, 2014.
                    .location La Paz, Bolivia.
                    .social-media
                        ul
                            li: a.fa.fa-facebook
                            li: a.fa.fa-twitter
                            li: a.fa.fa-google-plus
                            li: a.fa.fa-pinterest
                        .clearfix
                .clearfix
            .event
                .banner
                    img(src='http://lorempixel.com/460/150/business/4')
                .text
                    h2 Mauris eu ligula eget dolor vestibulum auctor sit amet vel arcu.
                    .date December 29, 2014.
                    .location Tarija, Bolivia.
                    .social-media
                        ul
                            li: a.fa.fa-facebook
                            li: a.fa.fa-twitter
                            li: a.fa.fa-google-plus
                            li: a.fa.fa-pinterest
                        .clearfix
                .clearfix
    .clearfix

