section.steps
    article.grid
        .step
            div.fa.fa-user
            h2 Register
            p Whether you are a buyer or seller, takes the first step and register right now.
        .step
            div.fa.fa-calendar
            h2 Pick an Event
            p Find events near your region and register your participation in them.
        .step
            div.fa.fa-list-ul
            h2 Join a Meeting
            p Find partners and ensures your presence in joint meetings.
        .step
            div.fa.fa-link
            h2 Follow Updates
            p Check business opportunities, and follow up on any news.
        .clearfix
section.events.grid
    h1 Find events in your region
    .menu
        p If you do not find an event that meets your needs, then why not create one?
        a.button(href='/#/events/new') Create an event
    .list
        form
            p
                span.fa.fa-search
                input(type='text')
        article(ng-repeat='event in events')
            .event
                .banner
                    a(href='/#/events/{{event.id}}')
                        img(ng-src='{{event.banner}}')
                .text
                    h2
                        a(href='/#/events/{{event.id}}') {{event.title}}
                    .date {{event.date}}
                    .location {{event.location}}
                    .social-media
                        ul
                            li: a.fa.fa-facebook
                            li: a.fa.fa-twitter
                            li: a.fa.fa-google-plus
                            li: a.fa.fa-pinterest
                        .clearfix
                .clearfix
    .clearfix

