section.grid.login
    h1 Log In
    .list
        form
            p
                span.fa.fa-user
                input(type='text')
            p
                span.fa.fa-key
                input(type='password')
            div.offset
                input(type='checkbox')
                span Remember Me
            div.offset
                a Forgot your password?
            div.offset
                button(type='submit') Log In
    .clearfix

