section.grid.login
    h1 Sign Up
    .list
        form
            h1 User Information
            h2 Email:
            p
                span.fa.fa-user
                input(type='text')
            h2 Password:
            p
                span.fa.fa-key
                input(type='password')
            h2 Retype Password:
            p
                span.fa.fa-key
                input(type='password')
            h1 Business Information
            h2 Organization Name:
            p
                input(type='text')
            h2 Address:
            p
                input(type='text')
            h2 City:
            p
                input(type='text')
            h2 Country:
            p
                input(type='text')
            h2 Website:
            p
                input(type='text')
            div.offset
                br
            div.offset
                button(type='submit') Sign Up
    .clearfix

